<body>
    <header class='navbar'>
        <div class="CarList"style="background-color: aqua; color: black; font-size: 40px;text-align:center; padding-left: 20px;display: flex; flex-direction:row; justify-content: flex-end; align-items:center;">
        Welcome dear    
            <button style="width:120px; height:30px;background-color:coral; border:none;">
                <a href="http://localhost:5000/cars">List of cars</a>
            </button>
            <button style="width:120px; height:30px;background-color:cornflowerblue; border:none; margin-left:20px" >
                <a href="http://localhost:5000/users">List of users</a>
            </button>
        </div>

    </header>
    
</body>